<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized. The tools and libraires that are used in data science are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scikit-learn
4. Matplotlib
5. Seaborn

| Data Science Tools |
|--------------------|
| JupyterLab        |
| RStudio           |
| PyCharm           |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [5]:
#In the below code we are first multiplying 3 by 4 and we are addinf 5 to the result. It wull give us 17
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

**Objectives:**
- Python
- R 
- Numpy
- Pandas
- Matplotlib

<h2>Author</h2>
Mohammad Maaz Ansari